# Neon / Drizzle
DATABASE_URL=

# Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000

# Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev

# App-wide
NEXT_PUBLIC_APP_URL=http://localhost:3000
